:root {
  --uib-world-fill: green;
  --star-fill: pink;
}

img, #world0-img, #world0a-img {
    width: 2rem;
}

#eg-mask {
    width: 2rem;
    height: 2rem; /* Have to set this for some unknown reason */
    background-color: var(--uib-world-fill, red);
    mask-image: url(blue-world.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}
